body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #F9F8F4;
}

nav {
    background-color: white;
    height: 100px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.536);
}

ul {
    list-style-type: none;
}

ul.nav-list {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    float: right;
    margin-right: 70px;    
    font-size:0;
} 

ul.nav-list li {
    display: inline-block; 
    margin-left: 20px;
    margin-bottom: 45px;
}

ul.nav-list li a {
    text-decoration: none;
    padding-top: 40px;
    font-size: 14px;
    color: black;
    display:block;
    width:100px;
}

.sleepless-logo {
    display: block;
    float: left;
    margin-left: 37px;
    padding-top: 35px;
}

.media-logo {
    padding-top: 15px;
    float: left;
    margin-left: 200px;
}

.test-project {
    padding-left: 15px;
} 

.office-decor {
    width: 100%;
    height: 681px;
}

.quote {
    padding: 70px 0px 70px 0px;
    text-align: center;
    margin: 0 auto;
    width: 952px;
}

.inspirational-quote {
    font-family: 'Jomolhari', serif;
    font-size: 32px;
}

.quote-attribute {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    padding-top: 10px;
    font-size: 14px;
}

.think-list {
    display: flex;
    align-items: flex-start;
    height: 400px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.group-four {
    padding-bottom: 110px;
}

.building-websites {
    display: inline;
    font-family: 'Jomolhari', serif;
    margin-left: 150px;
    font-size: 38px;
}

.building-websites-list-section-one {
    width:20em;
    list-style-type: none;
    margin-left: 110px;
    margin-bottom: 0px;
}

.building-websites-list-section-two {
    width:20em;
    list-style-type: none;
}

.building-websites-list-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.building-websites-list-paragraph {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-bottom: 50px;
}

.building-websites-button {
    align-self: flex-end;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: #355556;
    padding: 10px 35px 10px 35px;
    border: none;
    margin-left: 150px;
}

.building-websites-button:hover {
    cursor: pointer;
}

.office-photo {
    float: right;
    padding-right: 150px;
    padding-left: 90px;
    padding-top: 15px;
}

.meet-our-team {
    background-color: white;
    height: 777px;
    padding-left: 150px;
}

.get-to-know-us {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border-bottom: #355556 2px solid;
    float: right;
    padding-top: 145px;
    padding-bottom: 20px;
    margin-right: 160px;
}


.meet-our-team-headshots {
    display: inline-block;
    font-family: 'Jomolhari', serif;
    font-size: 38px;
    padding-top: 50px;
}

.headshot-photos {
    display: flex;
    flex-direction: row;
}

.headshot-title {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.headshot-paragraph {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.josh, .matthew {
    width: 280px;
    padding-right: 30px;
}

.slider-graphic {
    height: 70px;
    width: 70px;
    padding-top: 110px;
}

.photography {
     padding-left: 200px;
     padding-bottom: 60px; 
}

.room-photography-title {
    float: left;
    font-family: 'Jomolhari', serif;
    font-size: 38px;
    padding-top: 150px;
    padding-right: 135px;
    line-height: 1.2;
}

.office-plant-photo {
    padding-top: 60px;
}

.section-top-row {
    padding-top: 60px;
    float: right;
}

.guitar-office-photo {
    padding-left: 76px;
    padding-top: 50px;
}

.bird-office-photo {
    padding-bottom: 100px;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: #355556;
    color: white;
    bottom: 0;
    height: 285px;
    left: 0;
    position: relative; 
    width:100%;
    margin-top: 30px;
} 

.footer-section-title {
    float: left;
    font-family: 'Jomolhari', serif;
    font-weight: 400;
    font-size: 38px;
    padding-top: 50px;
    padding-left: 120px;
}


.book-appointment-button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #355556;
    padding: 10px 35px 10px 35px;
    border: 1px solid #FFFFFF;
    margin-left: 15px;
    /* margin-bottom: 70px; */
}

.book-appointment-button:hover {
    color: #355556;
    background-color: #FFFFFF;
    cursor: pointer;
}

.get-in-touch-button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #355556;
    padding: 10px 35px 10px 35px;
    border: 1px solid #FFFFFF;
    margin-left: 120px;
}

.get-in-touch-button:hover {
    color: #355556;
    background-color: #FFFFFF;
    cursor: pointer;
}

.copyright {
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.276);
    font-size: 10px;
    font-weight: 300;
    padding-top: 28px;
    padding-left: 120px
}

.footer-list, .footer-list-two {
    padding-top: 80px;
}

.footer-list-two li a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}


.footer-anchors {
    padding-bottom: 30px;
}

.footer-list li a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
} 

.privacy-policy {
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.276);
    font-size: 10px;
    font-weight: 300;
    padding-top: 30px;
    padding-left: 150px
} 

@media only screen and (max-width: 987px) {
    nav {
        width: 100%;
    }
}